<!-- We can use the Embedded JavaScript (EJS) to render the page (remember to change the route in news.js) -->
<% for(var i=0; i<news.news.length; i++) { 
    var currNews = news.news[i];
%>
    <div class="news" style="background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(<%= currNews.image %>);
                             background-position: center center;
                             background-repeat: none;
                             -webkit-background-size: cover;
                             -moz-background-size: cover;
                             background-size: cover;
                             -o-background-size: cover;">
        <a target="_blank" href='<%= currNews.url %>'>
            <div class="time_holder">
                <img class="time_icon" src="images/time.png" />
                <p class="time"><%= currNews.time %></p>
            </div>
            <div class="title_container" >
                <h2>
                    <div class="news_title link"><%= currNews.title %></div>
                </h2>
            </div>

            <div class="source">
                <div class="source_img_container" >
                    <img class="news_source_img" src='<%= currNews.source.image %>' >
                </div>
                <div class="info_source">
                    <div>
                        <p> Source: </p>
                        <p> <%= currNews.source.name %> </p>
                    </div>
                </div>
                <div class="likes">
                    <img src="images/like.png">
                    <%= currNews.likes %>
                </div>
            </div>
        </a>
    </div>
<% } %>
